#mockup{
    width: 496px;
    height: 265px;
    background-image: url(./image/card-small-mockup.png);
    background-repeat: no-repeat; 
    opacity: 0%;  
    position: absolute;
    z-index: -5;
}

.main_container{
    border: black, solid, 10px;
    display: flex;
}
.bottom_content{
    display: flex;
}
.top_content{
    padding: 5px;
}
.top_content h1{
    font-size: 20px;
    padding-left:17px;

}
.top_content p{
    font-size: 16px;
    padding-left: 17px
    
}
.avatar_container{
    padding-left: 15px;
    padding-top: 40px;
}
.bottom_content{
    font-size: 13px;


}
.avatar_container img{
    height: auto;
    width: 50px;
    border-radius: 50%;
}
.icons{
    padding-top: 40px;
}