.parent-container {
   margin-top:100px;
   margin-left: 500px;
   display: flex;
   flex-direction: column;
}
.container-1 {
    width: 50px;
}
img {
        width: 250px;
        height: 250px;
    }

.container-2{
    width: 180px;
    margin-left: 40px;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}
.branding {
 
}