.parent-container {
   margin-top:100px;
   margin-left: 500px;
   width: 50px;
}

.container-1{
         }

img {
        width: 250px;
        height: 250px;
    }

.container-2{
    margin-left: 50px;
}